<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440897500267-hfh9thu0ska8taoe81b7dcdijt10cq94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440897500267-hfh9thu0ska8taoe81b7dcdijt10cq94</string>
	<key>API_KEY</key>
	<string>AIzaSyADlh5JhQKaq77OFT3AnBus5iQxYfID2po</string>
	<key>GCM_SENDER_ID</key>
	<string>440897500267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennial.college.PhoneOrderApp</string>
	<key>PROJECT_ID</key>
	<string>mapd724</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440897500267:ios:c63408dc7433647995ed2e</string>
</dict>
</plist>